
/*Import Google Fonts*/

body {

  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: 'Nunito', sans-serif;
  color: #222; 
  background-color: #f5f5dc;}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 36px;
  line-height: 42px; }

h2 {
  font-size: 32px;
  line-height: 36px; }

h3 {
  font-size: 24px;
  line-height: 30px; }

h4 {
  font-size: 18px;
  line-height: 24px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

h6 {
  font-size: 12px;
  line-height: 24px; }

  @media screen and (max-width:700px)
  {
    .form-control{
      width: 350px;
    }

    p{
      width:400px;
    }

    #example{
      width: auto;
      font-size: 10px;
    }

    #examples{
      width: auto;
      font-size: 5px;
    }
    video {
      max-width: 100%;
      height: auto;
    }
}

@media screen and (max-width:1200px){
  #examples{
    width: auto;
    font-size:11px;
  }
  #button{
    font-size:11px;
  }

  video {
    max-width: 200%;
    height: auto;
  }
}